body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout {
  min-height: 100vh;
}

.ant-layout-header {
  display: flex;
  align-items: center;
  padding: 0 24px;
  background: #fff;
}

.ant-card-cover img {
  object-fit: cover;
  height: 200px;
}

.ant-table-cell img {
  object-fit: cover;
  border-radius: 4px;
}
